@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.inputs {
  display: flex;
  justify-content: center;
}

.inputs input {
  margin-right: 10px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.inputs button {
  background-color: cadetblue;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
}
